// assets/scss/variables.scss
@function base-with-lightness($lightness) {
    // I’m using this to test various base colors for a dynamic color scheme
    $base-hue: 203;
    $base-saturation: 22%;
    @return hsl($base-hue, $base-saturation, $lightness);
}

// Color scheme
$tb-primary-100: base-with-lightness(90%);
$tb-primary-200: base-with-lightness(80%);
$tb-primary-300: base-with-lightness(70%);
$tb-primary-400: base-with-lightness(60%);
$tb-primary-500: base-with-lightness(50%);
$tb-primary-600: base-with-lightness(40%);
$tb-primary-700: base-with-lightness(30%);
$tb-primary-800: base-with-lightness(20%);
$tb-primary-900: base-with-lightness(10%);
$tb-grey-100: #f8fafc;
$tb-grey-200: #f1f5f9;
$tb-grey-300: #cbd5e1;
$tb-grey-400: #94a3b8;
$tb-grey-500: #64748b;
$tb-grey-600: #475569;
$tb-grey-700: #334155;
$tb-grey-800: #1e293b;
$tb-grey-900: #0f172a;
$tb-border-radius: 16px;
@function apply-transparency($color, $transparency) {
    @return color-mix(in srgb, $color, transparent $transparency);
}

:root {
    --base-hue: 203;
    --base-saturation: 22%;
    --grey-saturation: 5%;
    // Color scheme
    --tb-primary-100: hsl(var(--base-hue), var(--base-saturation), 90%);
    --tb-primary-200: hsl(var(--base-hue), var(--base-saturation), 80%);
    --tb-primary-300: hsl(var(--base-hue), var(--base-saturation), 70%);
    --tb-primary-400: hsl(var(--base-hue), var(--base-saturation), 60%);
    --tb-primary-500: hsl(var(--base-hue), var(--base-saturation), 50%);
    --tb-primary-600: hsl(var(--base-hue), var(--base-saturation), 40%);
    --tb-primary-700: hsl(var(--base-hue), var(--base-saturation), 30%);
    --tb-primary-800: hsl(var(--base-hue), var(--base-saturation), 20%);
    --tb-primary-900: hsl(var(--base-hue), var(--base-saturation), 10%);
    --tb-grey-100: hsl(var(--base-hue), var(--grey-saturation), 90%);
    --tb-grey-200: hsl(var(--base-hue), var(--grey-saturation), 80%);
    --tb-grey-300: hsl(var(--base-hue), var(--grey-saturation), 70%);
    --tb-grey-400: hsl(var(--base-hue), var(--grey-saturation), 60%);
    --tb-grey-500: hsl(var(--base-hue), var(--grey-saturation), 50%);
    --tb-grey-600: hsl(var(--base-hue), var(--grey-saturation), 40%);
    --tb-grey-700: hsl(var(--base-hue), var(--grey-saturation), 30%);
    --tb-grey-800: hsl(var(--base-hue), var(--grey-saturation), 20%);
    --tb-grey-900: hsl(var(--base-hue), var(--grey-saturation), 10%);
    --tb-border-radius: 16px;
    --transition-speed: 0.2s;
}

@container root style(--darkmode: 0) {
    body {
        --background-color: color-mix(in sRGB, var(--tb-primary-300), var(--tb-grey-300) 50%);
        --text-color: var(--tb-grey-700);
        --input-bg: color-mix(in sRGB, var(--tb-primary-100), transparent 35%);
        --button-bg: color-mix(in sRGB, var(--tb-primary-400), transparent 80%);
        --input-color: var(--tb-grey-900);
        --button-color: var(--tb-grey-700);
        --input-color-placeholder: color-mix(in sRGB, var(--tb-grey-800), transparent 60%);
        --input-outline: 2px solid color-mix(in sRGB, var(--tb-primary-600), transparent 80%);
        --logo-filter: invert(0);
        --side-bar-bg: color-mix(in sRGB, var(--tb-primary-300), var(--tb-grey-100) 60%);
        --side-bar-outline: 2px solid color-mix(in sRGB, var(--tb-primary-400), var(--tb-grey-500) 75%);
        --side-bar-shadow: 0 0 64px 0 rgba(0, 0, 0, 0.25);
    }
}

@container root style(--darkmode: 1) {
    body {
        --background-color: color-mix(in sRGB, var(--tb-primary-800), #222222 70%);
        --text-color: color-mix(in sRGB, var(--tb-grey-200), transparent 30%);
        --input-bg: color-mix(in sRGB, var(--tb-grey-300), transparent 94%);
        --button-bg: color-mix(in sRGB, var(--tb-primary-300), transparent 80%);
        --input-color: var(--tb-grey-300);
        --button-color: var(--tb-grey-200);
        --input-color-placeholder: color-mix(in sRGB, var(--tb-grey-300), transparent 60%);
        --input-outline: 2px solid color-mix(in sRGB, var(--tb-primary-300), transparent 80%);
        --logo-filter: invert(1);
        --side-bar-shadow: 0 0 64px 0 rgba(0, 0, 0, 0.15);
        --side-bar-bg: color-mix(in sRGB, var(--tb-primary-600), var(--tb-grey-900) 75%);
        --side-bar-outline: 2px solid color-mix(in sRGB, var(--tb-primary-400), var(--tb-grey-500) 75%);
    }
}